<title>{{ page.title | escape }} | {{ site.name | escape }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
<meta content="website" property="og:type">
<meta content="{{ page.title | escape }} | {{ site.name | escape }}" property="og:title">
{% if page.description %}<meta content="{{ page.description | escape }}" property="og:description">{% else %}<meta content="{{ site.description | escape }}" property="og:description">{% endif %}
<!-- TODO: Create Facebook icon. -->
<meta content="{{ site.url }}{{ page.image }}" property="og:image">
<meta content="summary" name="twitter:card">
<meta content="{{ site.twitter }}" name="twitter:creator:id">
<meta content="{{ page.title | escape }} | {{ site.name | escape }}" name="twitter:title">
{% if page.description %}<meta content="{{ page.description | escape }}" name="twitter:description">{% else %}<meta content="{{ site.description | escape }}" name="twitter:description">{% endif %}
<!-- TODO: Create Twitter icon. -->
<meta content="{{ site.url }}{{ page.image }}" name="twitter:image">

<link rel="alternate" type="application/rss+xml" title="Books &amp; Conversations" href="{{ site.feedburner }}">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Gentium+Book+Basic:400,400italic" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap-buttons.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
{% if page.stylesheet %}<link href="{{ page.stylesheet }}" rel="stylesheet" type="text/css">{% endif %}

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.anchor.scroll.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">
	// Execute jQuery
	jQuery(document).ready(function($)
	{
		// Enable Smooth Scrolling of Anchors.
		$("a[href^='#']").anchorScroll();

		// Enable Tooltips
		$("[data-toggle='tooltip']").tooltip();
	});

	// Load Google Analytics
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.google_analytics }}', 'booksandconversations.com');
	ga('send', 'pageview');
</script>