<title>{{ page.title | escape }} | {{ site.name | escape }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title | escape }} | {{ site.name | escape }}">
{% if page.description %}<meta property="og:description" content="{{ page.description | escape }}">{% else %}<meta property="og:description" content="{{ site.description | escape }}">{% endif %}
{% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}">{% else %}<meta property="og:image" content="{{ site.url }}/images/logo-books-and-conversations.png">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:creator:id" content="{{ site.twitter }}">
<meta name="twitter:site:id" content="{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title | escape }} | {{ site.name | escape }}">
{% if page.description %}<meta name="twitter:description" content="{{ page.description | escape }}">{% else %}<meta name="twitter:description" content="{{ site.description | escape }}">{% endif %}
{% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">{% else %}<meta name="twitter:image" content="{{ site.url }}/images/logo-books-and-conversations.png">{% endif %}

<link rel="alternate" type="application/rss+xml" title="Books &amp; Conversations" href="{{ site.feedburner }}">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Gentium+Book+Basic:400,400italic" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap-buttons.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
{% if page.stylesheet %}<link href="{{ page.stylesheet }}" rel="stylesheet" type="text/css">{% endif %}

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.anchor.scroll.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">
	// Execute jQuery
	jQuery(document).ready(function($)
	{
		// Enable Smooth Scrolling of Anchors.
		$("a[href^='#']").anchorScroll();

		// Enable Tooltips
		$("[data-toggle='tooltip']").tooltip();
	});

	// Load Google Analytics
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.google_analytics }}', 'booksandconversations.com');
	ga('send', 'pageview');
</script>