---
title: Amplification
description: John Ngo and Beng-Fai Mok chat about Justin Jackson&rsquo;s Amplification.
date: 2013-11-27
start: 2013-09-07
end: 2013-09-13
stylesheet: /stylesheets/amplification.css
image: /images/header-amplification.png
---
<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		<header class="masthead masthead-sm">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-3 col-lg-6">
						<h1><a href="/">Books <em>&amp;</em> Conversations</a></h1>
					</div>

					<nav class="col-lg-3">
						<ul class="list-inline">
							<li><a href="/about">About</a></li>
							<li><a href="/participate">Participate</a></li>
							<li><a href="/subscribe">Subscribe</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2><em>A conversation about</em></h2>
						<h1><a href="#introduction">Amplification</a></h1>
						<h2><em>by</em> Justin Jackson</h2>
						<a href="#introduction"><img src="/images/header-amplification.png" width="285" height="300"></a>
					</div>
				</div>

				<h2><em>with</em></h2>

				<div class="row">
					<div class="col-sm-2 col-sm-offset-4">
						<img src="/images/avatar-jngo.jpg" alt="John Ngo" width="100" height="100" class="img-circle">
						<h3>John Ngo</h3>
						<p><a href="https://twitter.com/jngo">@jngo</a><br><a href="https://smallepic.com/">smallepic.com</a><br>Code</p>
					</div>

					<div class="col-sm-2">
						<img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="100" height="100" class="img-circle">
						<h3>Beng-Fai Mok</h3>
						<p><a href="https://twitter.com/bengfai">@bengfai</a><br><a href="http://www.mok.io/">mok.io</a><br>Product</p>
					</div>
				</div>
			</div>
		</header>

		<article id="introduction">
			<div class="container">
				<div class="row">
					<header class="col-md-6 col-md-offset-3">
						<p class="lead">In <em>Amplification</em>, Justin Jackson shares his experience building an audience and reveals the numbers behind his most successful posts that have graced the ranks of Hacker News and generated millions of page views.</p>
						<p>Join us in a chat about Justin&rsquo;s book that touches on our childhood Internet experiences, geeks as tastemakers, and amplification as marketing.</p>
					</header>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>Justin begins the book by talking about his childhood experiences with bulletin boards systems (BBS) and the Internet.   What I love is how our childhoods were quite similar in those regards, yet our experiences were quite different.</p>
						<p>Access to the Internet was usually short sessions at a friend&rsquo;s house and dialling into a BBS was limited to whenever the phone line wasn&rsquo;t engaged; so the sporadic nature of my access meant that it was primarily a means to download and consume content rather than to produce and share.</p>
						<p>It wouldn&rsquo;t be until two years later where having my own phone line, a USRobotics Sportster II modem, and dial up access to the Internet would be the catalyst to start building things for the Internet.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>I&rsquo;m not sure my experience was that similar.  In fact, I think I cottoned on to the Internet quite late (probably early to mid 90&rsquo;s?).</p>
						<p>I remember my brother coming home from school one day with a funny looking piece of hardware.  He told my mum that he had to use the phone for a while.</p>
						<p>Of course, that funny looking piece of hardware was a modem (Dynalink I believe).  A few hours later my mum went to use the phone and she got the shock of her life!  She thought our phone line had gone haywire.  Needless to say, she was not impressed.</p>
						<p>Since that day, we had access to the Internet.  But back in those days, the Internet was a brand new thing, and apart from consuming news and sending the occasional email (I still have my original address!), we didn&rsquo;t do much.  It wasn&rsquo;t until much later that we got a separate phone line and hence our initial Internet sessions were also restricted to short, sharp bursts&mdash;I think our ISP kicked us off every three hours anyway.</p>
						<p>And for me at least, it stayed that way for a few years.  I didn&rsquo;t have the skills, or the balls to craft anything.  I didn&rsquo;t create a weblog.  I didn&rsquo;t know how to code.  In fact, it was only after the 2000 crash that I learnt how to build anything.  I distinctly remember registering my first domain (thebfm.com&mdash;it&rsquo;s taken by a marketing firm now), and building a custom CMS to create a blog.  Hell I can&rsquo;t even remember what I wrote, all I do know was that it was cool building the system, and it was even more exciting to see that I had probably 10 monthly visitors, from all over the world.</p>
						<p>I have no idea where they came from.  Apart from a few friends, I guess I never shared my blog with anyone.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-lg-12">
						<blockquote class="pull-quote pull-quote-lg">
							<p>I really wish I read this book six months ago as it really nails some of the conclusions I&rsquo;ve come to recently&mdash;create great content and build a high value network that will help you reach your audience.</p>
							<small>John</small>
						</blockquote>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p><strong>Throughout the book, Justin hints that you need to get your content out there&mdash;Hacker News, Subreddits, etc.  What do you think about &lsquo;actively&rsquo; marketing your writing?</strong></p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>As an introverted geek who loves to build things, self-promotion and marketing are activities that I tend to shy away from.  So naturally, Justin&rsquo;s metaphor of amplification as marketing really makes a lot of sense to me.</p>
						<p>It goes without saying that we should begin by creating value, but the fact that an entire chapter is devoted to producing great writing adds a tremendous amount of credibility to the advice given in the following chapters.</p>
						<p>I really wish I read this book six months ago as it really nails some of the conclusions I&rsquo;ve come to recently&mdash;create great content and build a high value network that will help you reach your audience.</p>
						<p>In a lot of ways, Amplification isn&rsquo;t so much about marketing as it is about networking.  For me, &lsquo;networking&rsquo; conjures up flashbacks of people working the room while shovelling business cards at each other; so I really respect that Justin eschews this in favour of more genuinely deliberate methods of building a network such as buying people lunch, recording a podcast, or running a meet up.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>I completely agree.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p><strong>What do you think about Justin&rsquo;s thesis that techies/geeks/nerds rule the Internet?  Are his examples outliers?</strong></p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>The idea of &lsquo;geeks as tastemakers&rsquo; is quite compelling.  Geeks are often consulted by those around them for recommendations on the latest gadgets simply because they&rsquo;re confident with technology, so perhaps as the basis of this &lsquo;authority by association&rsquo;, it makes sense that geeks weld a large influence over what becomes popular on the Internet.</p>
						<p>I tend to consume content through a combination of RSS feeds, email subscriptions, and Twitter; so it&rsquo;s not uncommon for me to observe a link surface within a particular community on one of these channels and slowly trickle through to other communities on other channels.  What&rsquo;s interesting is that sometimes it takes hours and sometimes it takes days.</p>
						<p>Justin&rsquo;s advice for appealing to the tastemakers is to show the data, talk about innovation, and be part of the community.  I would also add: demonstrate mastery.  Geeks have a great appreciation for mastery in domains outside of their own.  Justin cites the New York Times feature <a href="http://www.nytimes.com/projects/2012/snow-fall/#/?part=tunnel-creek">&lsquo;Snow Fall: The Avalanche at Tunnel Creek&rsquo;</a> as an example of traction driven by Hacker News.  Aside from being a magnificent example of journalistic excellence, it also demonstrates a mastery of digital storytelling.  As a web developer, geeking out on the New York Times&rsquo; use of progressive enhancement, responsive design, and HTML5 simply adds another dimension of appreciation.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Ok, I agree with what you&rsquo;re saying and that on the Internet, geeks can definitely be powerful amplifiers (tastemakers if you will) and appealing to them can help you amplify your message.</p>
						<p>However, how many &lsquo;geek&rsquo; celebrities are there that appealed to the masses.  Perhaps Jobs?  Maybe Dorsey?</p>
						<p>If you look at who has the most followers on Twitter, the people occupying the top five positions are:</p>
						<ol>
							<li>The Biebs</li>
							<li>Katy Perry</li>
							<li>Lady Gaga</li>
							<li>President Obama</li>
							<li>Taylor Swift</li>
						</ol>
						<p>Not your everyday geek.</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>Consider how long geeks were using Twitter before it hit the mainstream though?  Justin Bieber is Twitter user 27,260,086!</p>
						<p>Twitter is no longer a platform dominated by geeks, but I imagine that top five list would have looked completely different in 2007 following Twitter&rsquo;s tipping point after South by Southwest (SXSW).</p>
						<p>So I&rsquo;d say that geek influence is more subtle than the mass appeal that celebrity role models command.  This would be an opportune moment to draw parallels to Geoffrey Moore&rsquo;s &lsquo;Crossing the Chasm&rsquo;, if I had actually read it.</p>
						<p>Another way to look at it is to think about the broadcast mediums that have preceded the Internet; television, newspaper, and radio.  In large part, the influencers and the tastemakers are the media conglomerates that have access to the infrastructure to broadcast and distribute.  And while the Internet has dramatically shifted the balance of power from conglomerates to individuals, geeks still retain that innate ability to understand and weld technology better than everyone else.</p>
					</section>
				</div>

				<div class="row">
					<aside class="col-md-3">
						<blockquote class="pull-quote pull-quote-sm">
							<p>I would have liked to have seen a community built around the book, where members trying to build an audience could receive some peer review and peer support&hellip;</p>
							<small>Beng-Fai</small>
						</blockquote>
					</aside>

					<section class="col-md-6">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>Amplification is described as a mini-course on building an audience, as opposed to a book on the same topic.  What do you think about this distinction?</strong></p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>To be honest, it&rsquo;s slightly misleading.</p>
						<p>I thoroughly enjoyed the book but found the videos were just a rehash of what was covered in the book, and after that disappointment, I didn&rsquo;t really bother to look at the worksheets or templates.</p>
						<p>Potentially, I would have liked to have seen a community built around the book, where members trying to build an audience could receive some peer review and peer support when embarking on their respective journeys.  Having Justin chime in every now and then would also have been excellent.</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>Agreed.  Sadly, I feel this is where Amplification falls a bit short.</p>
						<p>While the additional content makes for a nice supplement to the book, the course component really feels like an afterthought&mdash;it&rsquo;s simply the last chapter where you&rsquo;re given a homework exercise to complete the included worksheet.</p>
						<p>As you mentioned, the video content is great, but doesn&rsquo;t offer much beyond what&rsquo;s already covered in the book, and the spreadsheets are simply the raw numbers behind some of the charts in the book.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>So would you recommend the book?  Who should read it?</strong></p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>I think anyone wanting to build an audience should read this book.  Whether you&rsquo;re an individual wanting to get your stuff (words, product, art, etc.) in front of more people, or if you&rsquo;re a community manager trying to build the SEO juice for your company, it&rsquo;s definitely worth a read.</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>I would also recommend Amplification to anyone looking to market a product, build an audience, or engage a community.</p>
						<p>Justin&rsquo;s book is a short, yet succinct primer, full of practical advice on building and growing an audience around your writing (though equally applicable to any form of work).</p>
					</section>
				</div>

				<div class="row">
					<footer class="col-md-6 col-md-offset-3">
						<p><a href="http://buildandlaunch.net/book/amplification/">Amplification</a> is available as a package that includes the ebook (PDF) and bonus material including video content and a Hacker News Handbook (PDF).</p>
						<p>Justin Jackson is on <a href="http://twitter.com/mijustin">Twitter</a> and has a <a href="http://justinjackson.ca/">website</a>.</p>
					</footer>
				</div>
			</div>
		</article>

		<footer>
			<div class="container">
				<div class="row">
					{% include footer_published.html %}

					<div class="col-sm-4">
						<h4>Thanks</h4>
						<p>Thanks to <a href="https://twitter.com/bengfai">Beng-Fai Mok</a> for taking the time for a prolonged email dialogue on Amplification.</p>
					</div>

					{% include footer_subscribe.html %}
				</div>
			</div>
		</footer>

		{% include footer.html %}
	</body>
</html>