---
title: The Shape of Design
description: John Ngo hosts a discussion with Cat Townsend and Beng-Fai Mok on Frank Chimero&rsquo;s The Shape of Design.
date: 2013-09-13
start: 2013-08-18
end: 2013-09-09
stylesheet: /stylesheets/the-shape-of-design.css
---
<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2><em>A conversation about</em></h2>
						<h1><a href="#introduction">The Shape <em>of</em> Design</a></h1>
						<h2><em>by</em> Frank Chimero</h2>
						<a href="#introduction"><img src="/images/header-the-shape-of-design.gif" width="290" height="300"></a>
					</div>
				</div>

				<h2><em>with</em></h2>

				<div class="row">
					<div class="col-sm-2 col-sm-offset-3">
						<img src="/images/avatar-jngo.jpg" alt="John Ngo" width="100" height="100" class="img-circle">
						<h3>John Ngo</h3>
						<p><a href="https://twitter.com/jngo">@jngo</a><br><a href="https://smallepic.com/">smallepic.com</a><br>Moderator</p>
					</div>

					<div class="col-sm-2">
						<img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="100" height="100" class="img-circle">
						<h3>Cat Townsend</h3>
						<p><a href="https://twitter.com/catisnotpretty">@catisnotpretty</a><br><a href="http://www.notpretty.net/">notpretty.net</a><br>Design</p>
					</div>

					<div class="col-sm-2">
						<img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="100" height="100" class="img-circle">
						<h3>Beng-Fai Mok</h3>
						<p><a href="https://twitter.com/bengfai">@bengfai</a><br><a href="http://www.mok.io/">mok.io</a><br>Product</p>
					</div>
				</div>
			</div>
		</header>

		<article id="introduction">
			<div class="container">
				<div class="row">
					<header class="col-md-6 col-md-offset-3">
						<p class="lead"><em>The Shape of Design</em> is Frank Chimero&rsquo;s deeply intense, eloquently written, and passionate rumination that will elevate one&rsquo;s appreciation of design from a practice to a craft.</p>
						<p>It couldn&rsquo;t have been a more fitting selection.  What follows is a great discussion between a designer, a developer, and a product manager with varying degrees of appreciation for design.</p>
						<p>I hope you enjoy the inaugural <em>Books &amp; Conversations</em> as much as I have creating it.</p>
					</header>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>Let&rsquo;s begin with introductions.  Tell everyone a bit about yourself, what you do, and what you care about.</strong></p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>Hi there!  I&rsquo;m Cat.  I&rsquo;m an information designer&mdash;which basically means I help people shape their ugly, awkward, and complicated content into something that is useful and appealing.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Hi all.</p>
						<p>Firstly, John, thanks for organising this and kicking it off.  Much appreciated!</p>
						<p>I&rsquo;m Beng-Fai.  I&rsquo;d probably classify myself as a tinkerer or &lsquo;jack of all trades&rsquo;&mdash;I do everything a modern understaffed Internet startup requires&mdash;write code, try to design, respond to support tickets, create PowerPoint decks, run spreadsheets, etc.</p>
						<p>I&rsquo;m really keen to learn from you all and to see how I can incorporate and bring some of this design thinking into my everyday work.</p>
					</section>
				</div>

				<div class="row">
					<section class="col-lg-12">
						<blockquote class="pull-quote pull-quote-lg">
							<p>At many points I found myself near jumping up and down, shouting, &ldquo;Yes! Exactly! That&rsquo;s what I&rsquo;ve been talking about!&rdquo;</p>
							<small>Cat</small>
						</blockquote>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>Now that we&rsquo;re all acquainted, what was everyone&rsquo;s overall impression of The Shape of Design?</strong></p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>Ah, that&rsquo;s right.  We are here to discuss the book&hellip;</p>
						<p>Can I be honest?</p>
						<p>If I hadn&rsquo;t committed to reading it to participate in this conversation, I doubt I would have got past Chapter One.</p>
						<p>At many points I found myself near jumping up and down, shouting, &ldquo;Yes!  Exactly!  That&rsquo;s what I&rsquo;ve been talking about!&rdquo;</p>
						<p>But despite the arguments in the book giving me plenty to agree with (or think about), I wasn&rsquo;t a huge fan of the way it was written.</p>
						<p>Admittedly, the poetic style makes my humble profession sound a lot more serious and important than most of the population give it credit for.  But for me it felt like it was taking what we do too seriously (even before saying this, I am already shooting holes in my own thoughts&hellip; why shouldn&rsquo;t design be taken too seriously?!).</p>
						<p>At the very least it made it hard for me to get back into it every time I picked it up.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Cat, I&rsquo;m so glad you came out and said that.  I&rsquo;m probably in the same boat.</p>
						<p>In principle, I liked some of the analogies (especially the &lsquo;Kind of Blue&rsquo; jazz analogy for improvisation), but I found the style quite tough going and was tempted on many occasions to throw the towel in.</p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>I&rsquo;m secretly glad someone else felt the same way.  I was half worried I&rsquo;d be labelled and cast aside as a heretic!  :-)</p>
						<p>The improvisation section was easily my favourite section, and not just because I love Jazz!</p>
						<p>It&rsquo;s not that I hadn&rsquo;t come across the idea of building upon another person&rsquo;s idea with &lsquo;yes, and&hellip;&rsquo; before, but the anecdote captured my imagination, and I just happened to be reading the chapter at a time when I could put the idea directly into use.</p>
						<p>The other idea I have been thinking a lot about from the book is building frameworks.  There is a great example in the book about a small child contributing to dinner by adding a pinch of salt to a meal.  Salting is done one pinch at a time, so is controlled enough that you can trust a child to do it, but makes a big enough difference to the outcome that the child can see the output of what they&rsquo;ve done.</p>
						<p>I wouldn&rsquo;t want to compare my clients to children, but I&rsquo;ve been thinking that I need to do this more often in terms of seeking stakeholder feedback on projects.</p>
						<p>I think there is a natural inclination for people to want to contribute to a project and sometimes when working on a project with many stakeholders, the feedback from the first couple of people can make huge positive differences to the project.  But by the time you get to the last few people&mdash;because they still want to contribute in some way&mdash;they start picking apart minor details, such as the exact shade of blue you are using.</p>
						<p>So one of my takeaways from reading the book is to develop a better framework for working with my clients, so that they can give me meaningful and effective feedback on projects.  Maybe it&rsquo;s as simple as guiding the form of feedback individuals or teams provide, i.e. Jane and Norman are going to provide feedback on style, while Thomas and Jack are going to provide feedback on the accuracy of content, etc.</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>It seems to me that despite the abstract style in which it was written, meditating on some of the ideas from this book can surface a lot of practical applications&mdash;as with Cat&rsquo;s idea of building a framework for working with clients.</p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>Absolutely!</p>
					</section>
				</div>

				<div class="row">
					<section class="col-lg-12">
						<blockquote class="pull-quote pull-quote-lg">
							<p>Whether it&rsquo;s jazz, or it&rsquo;s cooking, it [the book] really showed me that design thinking and its concepts apply to so many different fields.</p>
							<small>Beng-Fai</small>
						</blockquote>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>Were there any other takeaways from the book that stood out for you?  Are they likely to change the way you approach thinking about problems?</strong></p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>What about you John, what were your favourite takeaways?</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>This passage captures it all:</p>
						<blockquote>
							<p>We have a tendency to toil and sweat the details, even beyond the point of clear financial benefit.  David Chang, head chef at New York restaurant Momofuku, made a cameo on the television series Treme and framed the gap between efficiency and the extra effort extolled by so many creative individuals in their practice by calling it the &lsquo;long, hard, stupid way&rsquo;.  In Chang&rsquo;s case, the long, hard, stupid way was exhibited all over the kitchen, from preparing one&rsquo;s own stock, to sweating out the details of the origins of the ingredients, to properly plating dishes before sending them out to the table.  Commercial logic would suggest that Chang stop working once it no longer made monetary sense, but the creative practitioner feels the sway of pride in their craft.  We are compelled to obsess.  Every project is an opportunity to create something of consequence by digging deeper and going further, even if it makes life difficult for the one laboring.</p>
						</blockquote>
						<p>The &lsquo;long, hard, stupid way&rsquo; that Frank Chimero describes as the gap between efficiency and the extra effort that compels us to care so deeply about the work that we produce is something that is in constant tension for me.  Much because it is often in direct opposition of other ideals that I also believe in such as Agile and Lean Startup Methodologies that extol doing the least amount of work possible to produce a result.</p>
						<p>So the biggest takeaway for me was the reassurance that there&rsquo;s still a place in the world for caring deeply about one&rsquo;s work and obsessing over the details, sometimes to the point of being unproductive.</p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>I second that!</p>
						<p>My life is a constant battle between longing for efficiency and obsessing over the details.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Ok, just to put another point of view forward.</p>
						<p>I completely get the notion of sweating and obsessing over the details, and taking real pride in your work.  Having said that, I&rsquo;m not sure it&rsquo;s always practical.</p>
						<p>In particular, I was somewhat miffed by these comments:</p>
						<blockquote>
							<p>In Chang&rsquo;s case, the long, hard, stupid way was exhibited all over the kitchen, from preparing one&rsquo;s own stock, to sweating out the details of the origins of the ingredients, to properly plating dishes before sending them out to the table.  Commercial logic would suggest that Chang stop working once it no longer made monetary sense, but the creative practitioner feels the sway of pride in their craft.</p>
						</blockquote>
						<p>I&rsquo;m going to offer a counterpoint:</p>
						<ul>
							<li>Which Michelin starred restaurant uses pre-made stock you can buy at the supermarket?</li>
							<li>Which Michelin starred restaurant is blas&eacute; about the source of their ingredients?</li>
							<li>Which Michelin starred restaurant makes their dishes look like inedible dribble before sending it to their diners?</li>
						</ul>
						<p>I would argue that the &lsquo;long, hard, stupid way&rsquo; is a prerequisite for fine dining.  These things that may seem like a waste of time are expected by the diner when they pay that much for a meal&mdash;in some ways, it&rsquo;s the minimum required to even get a seat at the table (excuse the pun).</p>
						<p>I&rsquo;m also going to go out on a limb here and suggest (without evidence) that it was <em>because</em> of his methodical methods Chang was a success, <em>not despite</em>.</p>
						<p>But I&rsquo;m ranting.</p>
						<p>John, I completely agree with your point about the contrasting nature of Lean methods versus sweating the details.  However, I think there&rsquo;s a way for them to exist harmoniously.</p>
						<p>Initially the Lean Startup methodology is, yes, scrappy.  There&rsquo;s a quote by <a href="http://www.businessinsider.com/the-iterate-fast-and-release-often-philosophy-of-entrepreneurship-2009-11/">Reid Hoffman</a> that says, &ldquo;if you are not embarrassed by the first version of your product, you&rsquo;ve launched too late&rdquo;.  Kind of the opposite of the &lsquo;long, hard, stupid way&rsquo;.  I don&rsquo;t think there&rsquo;s anything wrong with this approach.  Yes, you can take an age and waste time sweating the details at this stage but that&rsquo;s exactly what a startup doesn&rsquo;t have&mdash;time.</p>
						<p>But when you get to product-market fit and need to scale, the &lsquo;long, hard, stupid way&rsquo; is probably the better way to go.  Hopefully, you&rsquo;re no longer as constrained by a lack of money and time and in a way, you know exactly what your customers want.</p>
						<p>Any other comments on this take away?</p>
						<p>As for my two cents, what I really liked about the book was Frank&rsquo;s use of non-traditional design examples.  Whether it&rsquo;s jazz, or it&rsquo;s cooking, it really showed me that design thinking and its concepts apply to so many different fields.</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>I would add that I don&rsquo;t tend to think of the &lsquo;long, hard, stupid way&rsquo; as a practical methodology so much as a biological instinct that is ingrained in anyone who approaches their work through the lens of craftsmanship.</p>
						<p>And that is where the tension lies for me.  My compulsion to labour over code that is both efficiently expressive and aesthetically pleasing is not something that can simply be turned off.  What&rsquo;s more is that it has a tendency to transcend into everyday life in a way that is difficult to describe.  Fortunately, there&rsquo;s a great <a href="http://xkcd.com/1015/">xkcd comic</a> that uses kerning as an example to illustrate this perfectly:</p>
						<figure>
							<img src="http://imgs.xkcd.com/comics/kerning.png" alt="If you really hate someone, teach them to recognise bad kerning." class="img-responsive">
							<figcaption><cite title="Kerning"><a href="http://xkcd.com/1015/">Kerning</a></cite>, xkcd</figcaption>
						</figure>
						<p>Once you learn how to recognise poor kerning, the world becomes a frustrating wasteland of bad typography.  For everyone else, ignorance is bliss.</p>
						<p>I do agree that it&rsquo;s possible for the &lsquo;long, hard, stupid way&rsquo; to to exist harmoniously with Lean Startup methodologies, but I feel strongly that it isn&rsquo;t simply a luxury to be afforded only in the absence of monetary and time constraints.</p>
						<p>There&rsquo;s an essay by Clayton M. Christensen that has had a particularly profound influence on the obligation to sweat the details in both my life and my work:</p>
						<blockquote>
							<p>A voice in our head says, &ldquo;Look, I know that as a general rule, most people shouldn&rsquo;t do this. But in this particular extenuating circumstance, just this once, it&rsquo;s OK.&rdquo;  The marginal cost of doing something wrong &ldquo;just this once&rdquo; always seems alluringly low.  It suckers you in, and you don&rsquo;t ever look at where that path ultimately is headed and at the full costs that the choice entails.  Justification for infidelity and dishonesty in all their manifestations lies in the marginal cost economics of &ldquo;just this once.&rdquo;</p>
							<p>[&hellip;]</p>
							<p>The lesson I learned from this is that it&rsquo;s easier to hold to your principles 100% of the time than it is to hold to them 98% of the time.  If you give in to &ldquo;just this once,&rdquo; based on a marginal cost analysis, as some of my former classmates have done, you&rsquo;ll regret where you end up.  You&rsquo;ve got to define for yourself what you stand for and draw the line in a safe place.</p>
							<small>Clayton M. Christensen, <cite title="How Will You Measure Your Life?"><a href="http://hbr.org/2010/07/how-will-you-measure-your-life/">How Will You Measure Your Life?</a></cite></small>
						</blockquote>
					</section>
				</div>

				<div class="row">
					<section class="col-md-6 col-md-offset-3">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>Frank Chimero talks a lot about narrative as an essential component to design.  This isn&rsquo;t anything new&mdash;we&rsquo;re told about the importance of stories all the time, whether it is brands as stories or the use of user stories in software development and product management.</strong></p>
						<p><strong>How do you feel about stories on a practical level?  Do you frequently incorporate stories in some shape or form in your own work?</strong></p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>I&rsquo;m always harping on at my clients about the importance of telling a good story about their product or service.  But the book did prompt me to think more about how I tell the story of my work.  The example Frank gives about working with design students to tell the story of shapes and colours on a page was quite interesting.  It made me realise that it would probably help to talk that way when explaining design to clients.  I know that I chose that colour or that type to induce some kind of feeling, but they don&rsquo;t necessarily pick up on that without prompting.</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Funnily enough, as a management consultant (previous life), whenever we were preparing a deck for a client (i.e. every day) we would often run through what our &lsquo;story&rsquo; was before actually creating slides.  If someone wanted to create a new slide, in addition to ensuring it adhered to good communication principles, we would often ask whether it fits in with the &lsquo;story&rsquo;.</p>
						<p>Having said that, when you&rsquo;re in the trenches, head down building stuff, I do find it hard to tie what I&rsquo;m doing back to the overall story.  I imagine it might be easier for a designer.  The relationship between story and visuals appear to be easier to relate.</p>
						<p>But this does bring another thought to mind.  As alumni of the Rhode Island School of Design, the Airbnb founders&rsquo; design backgrounds were highly influential in the redesign of their website.  So they mapped out story boards (like in a film or cartoon) of the user flow and made sure their work had an overarching story.</p>
					</section>
				</div>

				<div class="row">
					<aside class="col-md-3">
						<blockquote class="pull-quote pull-quote-sm">
							<p>My feeling is that it is the type of book that will be referenced more than read in it&rsquo;s entirety.</p>
							<small>Cat</small>
						</blockquote>
					</aside>

					<section class="col-md-6">
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p><strong>You both mentioned how difficult the book was to read at times.</strong></p>
						<p><strong>How do you feel about the book now that we&rsquo;ve had the time to give The Shape of Design some consideration?  Would you recommend the book and if so, who should read it?</strong></p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Hmmm&hellip; even though I found it hard to read, I think I would recommend it (with multiple warnings and caveats) to a select group of people.  Namely, only people who are interested in creating stuff (and I deliberately use &lsquo;stuff&rsquo; here).</p>
						<p class="avatar"><img src="/images/avatar-jngo.jpg" alt="John Ngo" width="60" height="60" class="img-circle" data-toggle="tooltip" title="John"></p>
						<p>Could you elaborate on what you mean by &lsquo;stuff&rsquo;?</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>Basically anyone who is creating something and is proud of what they&rsquo;re creating&mdash;as a hobby or professionally.  That list might include designers, developers, people who work in startups, painters, artists, musicians, etc.</p>
						<p class="avatar"><img src="/images/avatar-catisnotpretty.jpg" alt="Cat Townsend" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Cat"></p>
						<p>Despite my personal preference for &lsquo;plain&rsquo; writing, this <em>is</em> a beautiful book written in beautiful language and is definitely not out of place on my bookshelf.</p>
						<p>My feeling is that it is the type of book that will be referenced more than read in it&rsquo;s entirety.  There are so many passages or quotes that can be used to prove points or prompt discussion.</p>
						<p>I&rsquo;d probably tell my friends or colleagues something along the lines of:</p>
						<p>&ldquo;If you don&rsquo;t have time to sit down and slog through the entire book, then make sure you read a good review.  Frank Chimero has a lot of great stuff to say!&rdquo;</p>
						<p class="avatar"><img src="/images/avatar-bengfai.jpg" alt="Beng-Fai Mok" width="60" height="60" class="img-circle" data-toggle="tooltip" title="Beng-Fai"></p>
						<p>I think Cat says it much more eloquently than I.  :)</p>
					</section>
				</div>

				<div class="row">
					<footer class="col-md-6 col-md-offset-3">
						<p><a href="http://shapeofdesignbook.com/">The Shape of Design</a> is available to read online or downloadable in all popular ebook formats (EPUB, MOBI, PDF).</p>
						<p>Frank Chimero is on <a href="https://twitter.com/fchimero">Twitter</a> and has a <a href="http://frankchimero.com/">website</a>.</p>
					</footer>
				</div>
			</div>
		</article>

		<footer>
			<div class="container">
				<div class="row">
					{% include footer_published.html %}

					<div class="col-sm-4">
						<h4>Thanks</h4>
						<p>Thanks to <a href="https://twitter.com/catisnotpretty">Cat Townsend</a> and <a href="https://twitter.com/bengfai">Beng-Fai Mok</a> for participating in the inaugural <em>Books &amp; Conversations</em>.  And of course, <a href="http://frankchimero.com/">Frank Chimero</a>, whose book inspired this discussion.</p>
					</div>

					{% include footer_updates.html %}
				</div>
			</div>
		</footer>

		{% include footer.html %}
	</body>
</html>