//
// Footer
// --------------------------------------------------


// Call to Actions
// -------------------------

.jumbotron + .call-to-actions,
.posts + .call-to-actions
{
  margin-top: $grid-gutter-width * 2;
}

.call-to-actions
{
  padding-bottom: 0;
  padding-top: 0;

  .container
  {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    font-size: $font-size-small;
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width;
  }

  *[class^="col-sm"] + *[class^="col-sm"]
  {
    margin-top: ($line-height-computed / 2);

    @media (min-width: $screen-sm-min)
    {
      margin-top: 0;
    }
  }
}


// Copyright
// -------------------------

.copyright
{
  color: $text-muted;
  font-size: $font-size-small;
  padding-bottom: $grid-gutter-width * 2;
  padding-top: $grid-gutter-width * 2;
  text-align: center;

  p
  {
    margin-bottom: 0;
  }
}
