//
// Forms
// --------------------------------------------------


label
{
  font-family: $headings-font-family;
  font-size: $font-size-base;
  font-weight: $headings-font-weight;
  line-height: $line-height-base;
  text-transform: uppercase;
}
