//
// Posts
// --------------------------------------------------


// Archive
// -------------------------

.posts
{
  padding-bottom: 0;
  padding-top: 0;

  a
  {
    display: block;
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width;
    @include transition(all .2s ease-in-out);

    &:hover,
    &:focus
    {
      background-color: #000000 !important;
      text-decoration: none;

      h2, h3
      {
        color: #FFFFFF !important;
      }
    }

    h2
    {
      font-size: $font-size-h4;

      @media (min-width: $screen-sm-min)
      {
        font-size: $font-size-h2;
      }
    }

    h3
    {
      font-family: $font-family-base;
      font-size: $font-size-h5;
      font-weight: normal;
      margin-top: 0;
      text-transform: none;

      @media (min-width: $screen-sm-min)
      {
        font-size: $font-size-h3;
      }
    }
  }
}


// Cover
// -------------------------

.cover
{
  background-color: $gray-lighter;
  text-align: center;

  h1,
  h2
  {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);

    a
    {
      @include transition(all .2s ease-in-out);

      &:hover,
      &:focus
      {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  h1
  {
    font-size: $font-size-h3;

    em
    {
      color: inherit;
    }

    @media (min-width: $screen-sm-min)
    {
      font-size: $font-size-h1;
    }
  }

  h2
  {
    font-family: $font-family-base;
    font-size: $font-size-h5;
    font-weight: normal;
    text-transform: none;

    @media (min-width: $screen-sm-min)
    {
      font-size: $font-size-h4;
    }
  }

  h3
  {
    font-size: $font-size-h5;
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
  }

  p
  {
    font-size: $font-size-small;
  }

  *[class^="col-sm"] + *[class^="col-sm"]
  {
    margin-top: ($line-height-computed / 2);

    @media (min-width: $screen-sm-min)
    {
      margin-top: 0;
    }
  }
}


// Post
// -------------------------

.post
{
  footer
  {
    color: $text-muted;
    font-style: italic;
  }

  .row + .row
  {
    margin-top: $grid-gutter-width * 3;
  }

  .avatar
  {
    text-align: center;
  }

  p + .avatar
  {
    margin-top: $grid-gutter-width * 2;
  }
}
