html, body
{
	font-family: 'Gentium Book Basic', serif;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
	font-family: 'Gentium Book Basic', serif;
	font-weight: normal;
	text-transform: none;
}

.btn
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.list-inline > li:first-child
{
	padding-left: 0px;
}

.list-inline > li:last-child
{
	padding-right: 0px;
}

.list-inline-separated
{
	list-style: none;
	padding-left: 0px;
}

.list-inline-separated > li
{
	display: inline-block;
	padding: 0px;
}

.list-inline-separated > li:first-child
{
	padding-left: 0px;
}

.list-inline-separated > li:last-child
{
	padding-right: 0px;
}

.list-inline-separated > li + li:before
{
	content: '\00b7\A0';
}

blockquote
{
	border: none;
	color: #999999;
	padding: 20px 40px 20px 40px;
}

blockquote small
{
	font-size: 14px;
}

.pull-quote
{
	color: #999999;
	padding: 0px 0px 0px 0px;
}

.pull-quote-lg p
{
	font-size: 38px;
}

.pull-quote-lg small
{
	font-size: 18px;
}

.pull-quote-sm p
{
	font-size: 24px;
}

figure
{
	margin-bottom: 20px;
	text-align: center;
}

figure img
{
	margin: 0px auto 0px auto;
}

figure img + figcaption
{
	margin-top: 10px;
}

figure figcaption
{
	color: #999999;
}

article header,
article section,
article footer
{
	margin-top: 120px;
}

@media (max-width: 767px)
{
	article header,
	article section,
	article footer
	{
		margin-top: 20px;
	}
}

article footer
{
	color: #999999;
	font-style: italic;
}

article aside
{
	margin-top: 200px;
}

@media (max-width: 991px)
{
	article aside
	{
		margin-top: 120px;
	}
}

article p,
article ol,
article ul
{
	font-size: 21px;
	margin-bottom: 20px;
}

section .avatar
{
	margin-top: 60px;
	text-align: center;
}

.lead
{
	font-size: 32px;
}

.jumbotron
{
	background-color: #000000;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	margin-bottom: 0px;
	padding: 120px 0px 120px 0px;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6
{
	color: #FFFFFF;
	font-family: 'Gentium Book Basic', serif;
	font-size: 38px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top: 0px;
	text-transform: none;
}

.jumbotron p
{
	color: #999999;
	font-size: 21px;
	line-height: 1.428571429;
	margin-bottom: 20px;
}

.jumbotron blockquote
{
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.jumbotron blockquote p
{
	color: #FFFFFF;
	font-size: 38px;
}

label
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.container > *:first-child,
*[class^="col-"] > *:first-child
{
	margin-top: 0px;
}

.container > *:last-child,
*[class^="col-"] > *:last-child
{
	margin-bottom: 0px;
}

body > header
{
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}

body > header h1 em
{
	color: #999999;
}

body > header h2
{
	color: #999999;
	font-family: 'Gentium Book Basic', serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: none;
}

body > header h1 a,
body > header h2 a
{
	color: inherit;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

body > header h1 a:hover,
body > header h2 a:hover
{
	color: #999999;
	text-decoration: none;
}

body > header h3
{
	font-size: 18px;
	margin-top: 10px;
}

@media (max-width: 767px)
{
	body > header h1
	{
		font-size: 32px;
	}

	body > header h2
	{
		font-size: 18px;
	}

	body > header *[class^="col-"] > *:last-child
	{
		margin-bottom: 10px;
	}

	body > header *[class^="col-"]:last-child > *:last-child
	{
		margin-bottom: 0px;
	}
}

body > footer
{
	margin-top: 120px;
}

@media (max-width: 767px)
{
	body > footer
	{
		margin-top: 20px;
	}
}

body > footer .container
{
	border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	padding-bottom: 20px;
	padding-top: 20px;
}

@media (max-width: 767px)
{
	body > footer *[class^="col-"] > *:last-child
	{
		margin-bottom: 10px;
	}

	body > footer *[class^="col-"]:last-child > *:last-child
	{
		margin-bottom: 0px;
	}
}

body > nav
{
	color: #999999;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

body > nav p
{
	margin-bottom: 0px;
}

.masthead *[class^="col-"] > *:last-child
{
	margin-bottom: 0px;
}

.masthead ul
{
	margin-top: 5px;
	text-align: center;
}

@media (min-width: 1200px)
{
	.masthead ul
	{
		margin-top: 0px;
		text-align: right;
	}
}

.masthead-sm
{
	padding-bottom: 10px;
	padding-top: 10px;
}

.masthead-sm h1,
.masthead-sm ul
{
	font-size: 14px;
	line-height: 1.428571429;
}

.masthead-lg h1,
.masthead-lg ul
{
	margin-bottom: 0px;
}