/*
@media (max-width: 767px)
{
	body > footer
	{
		margin-top: 20px;
	}
}

@media (max-width: 767px)
{
	body > footer *[class^="col-"] > *:last-child
	{
		margin-bottom: 10px;
	}

	body > footer *[class^="col-"]:last-child > *:last-child
	{
		margin-bottom: 0px;
	}
}

.masthead *[class^="col-"] > *:last-child
{
	margin-bottom: 0px;
}

.masthead ul
{
	margin-top: 5px;
	text-align: center;
}

@media (min-width: 1200px)
{
	.masthead ul
	{
		margin-top: 0px;
		text-align: right;
	}
}
*/
